body {
    background-color: black;
    font-family: sans-serif;
    color: #3adc3a;
}

td {
    border: 7px solid #3adc3a;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: xxx-large;
}

.no-border {
    border: none;
}

.no-horiz-border {
    border-top: none;
    border-bottom: none;
}

.no-vert-border {
    border-left: none;
    border-right: none;
}

table {
    margin-bottom: 5vh;
}

.main {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    margin: 10vh auto;
}

button {
    background-color: transparent;
    color: #3adc3a;
    text-transform: uppercase;
    font-weight: 800;
    font-size: x-large;
    border-color: none;
    cursor: pointer;
}

button:hover {
    background-color: #176017;
}

.status {
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    color: #007700;
}
